{% extends 'base.html.twig' %}

{% block title %}Liste des assistantes maternelles{% endblock %}

{% block body %}


{% for listeUser in listeUsers %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{listeUser.nom}}</h5>
    <p class="card-text">{{listeUser.prenom}}</p>
    <p class="btn btn-primary">{{ listeUser.email }}</p>
    <a class="btn btn-md primary border waves-effect waves-dark" href="{{ path('profils_show', {'id': listeUser.id}) }}">Details</a>
  </div>
</div>
{% endfor %}
 <div class="card">
    <img class="card-img-top photoIdentite" src="assets/images/photoExemple.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

{% endblock %}
