{% extends 'base.html.twig' %}

{% block body%}
<div>  
    <img class="animate__animated animate__backOutRight logoNounou" src="{{asset("assets/images/nounouLogo.png")}}" class="img-fluid" alt="Responsive image">
</div>

 <div class="container containerContentLogin">
<h2 class="titleConnexion">Identifiez-vous : </h2> 
  
                <form class="testForm" action="{{ path('security_login') }}" method="POST">
                    <div class="form-group">
                        <input placeholder="Adresse e-mail" required name="_username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas votre adresse email !</small>
                    </div>
                    <div class="form-group">
                        <input placeholder="Mot de passe" required name="_password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                   
                     <div class="buttons">
                        <div class="container">
                            <button type="submit" class="btn effect01">Connexion</button>
                        </div>
                    </div>
                </form>
  
 </div> 

{% endblock %}