@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed-Light.ttf');
}
@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../fonts/OpenSansCondensed-Bold.ttf');
}
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSansJP-Regular.otf');
}

body {
    font-family:"OpenSansCondensed";
   }

/* navbar */
.nav-link{
    font-size: larger;
} 

.nav-item{
    color: white;

}
.navbarBase{
    background-color: #b5bebe;
}


.logoNounou{
   
    width: 300px;
    margin-top: -50px;
    margin-bottom: -100px;
}
.animate__animated.animate__backOutRight {
    --animate-duration: 8s;
  }

/* .imageAccueil{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.ifLoggedContent{
    margin-top: 20px;
    margin-bottom: 20px;
}

.identificationMail{
    font-size: 20px;
}

.homeContainer{
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.homeParentText{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    padding: 20px;
}
.homeNounouText{
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    padding: 20px;
}
/* .homeParentText:hover{

    transform: matrix(1, 2, 3, 4, 5, 6);
} */

.homeParentContent{
    margin-top: 40px;
    
    background-image: url("../images/famille.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    height: 600px;
    opacity: 0.2; 
    display: flex;
    flex-direction: column;
}

.homeParentContent:hover{
    opacity: 1;  
}

.homeTextP{
    font-size: 20px;
    margin: auto;
    padding: 20px;
    background: rgba(235, 229, 229, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(68,65,59,0.59);
    border-radius: 20px;
    border: 3px solid #FFFFFF;
    font-family: "OpenSansCondensedBold";
}
.homeTextnounouP{
    font-size: 20px;
    margin: auto;
    padding: 20px;
    background: rgba(133, 132, 132, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(24, 24, 23, 0.59);
    border-radius: 20px;
    border: 3px solid #FFFFFF;
    color: white;
    font-family: "OpenSansCondensedBold";
}

.containerContentLogin{
    margin-top: 30px; 
}

.textPlaceListe{
    font-size: 17px;
}

.photoDownload{
    font-weight: bold;
}

.modifProfilContent{
    margin-bottom: -450px;
}
.titleModifProfil{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 30px;
}

.photoSearch{
    margin-top: 25px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
  /*   padding: 2em 0em; */
  }
  
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
   
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect01 {
    color: #FFF;
    border: 4px solid #000;
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
/*   .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  } */
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

.homeNounouContent{
    margin-top: 40px;
    background-image: url("../images/nounnou.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    opacity: 0.2;
}
.homeNounouContent:hover{
    
    opacity: 1;
}
.homeButtonsNounou{
    margin-top: -20px;
}
.containerContentLogin{
    width: 600px;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 2%;
    padding: 20px;
    height: 350px;


}
.formLogin{
    width: 500px;
    height: 300px;
    margin: auto;
}

.photoIdentite{
    width: 10%;
}

.formInscription{
    width: 700px;
    height: 350px;
    border: 1px solid rgb(209, 206, 206);
    padding: 20px;
    border-radius: 2%;
    margin-top: 20px;
}

.titleConnexion{
    font-size: 30px;
}

.coordonneesContent{
    display: flex;
    margin-top: 5%;
} 

.presentationContent{
    margin: 10%;
    width: 600px;
    height: 300px;    
    
}
.presentationText{
    font-size: 110%;
    font-style: italic;
    text-align: justify;
}
.profilPixContent{
    margin-top: 10%;
}

.presentationRow{
    margin-bottom: -10%;
}

.telHoraire{
    font-size: 120%;
}

.nomPrenomContent{
    font-size: 300%;
}
.adresseProfil{
    font-size: 120%;
}

.diversContent{
    height: 100px;
}

.iconeProfil{
    margin-right: 5%;
}


.carouselContent{
    width: 500px;
    height: 500px;
}
.carousel-inner{
    margin-bottom: 30px;

}
.listCol{
    margin: 20px;
}

.cardListe{
    padding: 15px;
    width: 475px;
    height: 330px;
}

.photoListe{
    width: 50%;
}

/* page Liste */
@import url('https://fonts.googleapis.com/css?family=Abel');

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.selectRow{
    display: flex;
    margin-top: 45px;
}

.titreSelect{
    text-align: right;
    font-size: large;
}

.buttonSelect{
    text-align: start;
}

.selectForm{
    text-align: center;
}

#liste_selectChoices{
    width: 180px;
}

.selectButton{
    width: 100px;
    height: 35px;
    line-height: 18px;
}

.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    /*margin: 1.5rem;*/
    margin-right: 50px;

}

.card h1 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#b5bebe, #cee6e4);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card.green .additional {
    background: linear-gradient(#92bca6, #a2ccb6);
}


.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #000941;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
     /*  padding: 0.125rem 0.75rem; */
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card img {
    top: 50%;
    border-radius: 50%; 
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #00020c;
    margin-bottom: 0;
}



.card .additional .coords {
    margin: 0 1rem;
    color: #00020c;
    font-size: 1rem;
}



.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #00020c;
}



.card .additional .stats > div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

.generalTitle{
    color: black;
}

.buttonListeDetail{
    position: absolute;
    margin-top: 170px;
}

.cardContentList{
    margin-top: 30px;
}

/* profil */
.photoShowProfil{
    object-fit: cover;
    width: auto;
    height: 300px;
}


.carousel-item.active{
    display: flex;
    justify-content: center;
  /*   object-fit: cover;
    width:285px;
    height:100%; */

}
.d-block{
    height: 450px;
    width: auto;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
     height: 100px;
     width: 100px;
     outline: black;
}

.carousel-control-next-icon:after
{
     content: '>';
     font-size: 100px;
     color: #b5bebe;
}

.carousel-control-prev-icon:after {
     content: '<';
     font-size: 100px;
     color: #b5bebe;
}




/* tableau  */

/*	
	Side Navigation Menu V2, RWD
	===================
	Author: @heyPablete

 */


.tableContent {
  line-height: 3em;
  color: black;
  margin-bottom: 10%;
  
}

.tableContent td, .tableContent th {
	  padding-bottom: 2%;
	  padding-top: 2%;
      padding-left:2%;  
}

/* Background-color of the odd rows */
.tableContent tr:nth-child(odd) {
	  background-color: #f8f8f8;
}

/* Background-color of the even rows */
.tableContent tr:nth-child(even) {
	  background-color: #b5bebe;
}

.tableContent tr:hover {
   background-color: #808989;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.tableContent td:hover {
  background-color: #324b4b;
  color: white;
  font-size: 20px;
  font-weight: bold;
    
  box-shadow: #C0C6C6 -1px 1px, #C0C6C6 -2px 2px, #C0C6C6 -3px 3px, #C0C6C6 -4px 4px, #C0C6C6 -5px 5px, #C0C6C6 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
    transition-delay: 0s;
    transition-duration: 0.4s;
	transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
.tableContent td:nth-child(4),
.tableContent th:nth-child(4) { display: none; }
}

  
  .svg-wrapper {
    height: 60px;
      margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
  }
  
  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
  }
  
  .text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }

  /* footer */
  footer {
    margin-top: 40px;
    background-color: #b5bebe;
    font-family: "Lato", sans-serif;
    padding: 85px 0 285px 0; 
    height: 100px;
}

.footer-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    /* max-width: 1170px; */
    position: relative;
}

.footer-item {
    float: left;
    margin: 0 5.0% 0 0;
}

.footer-item:nth-of-type(4) {
    display: none;
}

.footer-item:nth-of-type(7) {
    float: right;
    margin-right: 0;
}

.footer-button {
    color: black;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: 1s;
    transition-delay: .2s;
    padding: 14px;
}
  
.footer-button:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 13px;
    background-color: white;
    height: 1px;
    width: 86px;
    transition: .6s;
}
  
.footer-button:hover {
    color: black;
    background-color: white;
}
  
.footer-button:hover:after {
    width: 112px;
    right: 0px;
}

  
h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 16px;
    color: black;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}
  
.color {
    color: white;
    font-weight: 400;
}
  
h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    letter-spacing: 0.03em;
}

h3.desktop {
    padding-top: 30px;
}
  
ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}
  
li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}
  
p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
  
a {
    text-decoration: none;
    color: #d1d1d1;
}
  
a:hover {
    color: white;
}
  
.desktop {
    display: auto;
}

/* .footer-inner:after {
    content: "© 2020 Certif Dev Web";
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
    color: #d1d1d1;
    position: absolute;
    top: 260px;
    clear: both;
    display: block;
} */

@media (max-width: 1024px) {
  
footer {
    padding: 50px 0 70px 0 !important;
}

.footer-inner {
    border-bottom: 1px solid #333;
    padding-bottom: 490px;
    margin-bottom: 50px;
}

.footer-item {
    margin: 0 0 22px 0;
    width: 50%;
}

.footer-item:nth-of-type(1) {
    border-bottom: 1px solid #333;
    padding-bottom: 32px;
    float: none;
    width: 100%;
}

.footer-item:nth-of-type(2) {
    clear: both;
}

.footer-item:nth-of-type(4) {
    clear: both;
    display: block;
}

.footer-item:nth-of-type(6) {
    clear: both;
}

.footer-item:nth-of-type(7) {
    clear: both;
    float: left;
    margin: 20px 0 0 -13px;
}

.desktop {
    display: none;
}

.footer-inner:after {
    top: 730px;
}
}