@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed-Light.ttf');
}
body {
    font-family:"OpenSansCondensed";
   }

.imageAccueil{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeContainer{
    margin-top: -40px;
}

.homeParentContent{
    margin-top: 40px;
    background-image: url("../images/famille.jpg") ;
    padding: 20px;
    height: 600px;
    opacity: 0.2;
}

.homeParentContent:hover{
    opacity: 1;
}

.homeNounouContent{
    margin-top: 40px;
    background-image: url("../images/nounnou.jpg") ;
    padding: 20px;
    opacity: 0.2;
}
.homeNounouContent:hover{
    opacity: 1;
}


.contentLogin{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.formLogin{
    width: 500px;
    height: 300px;
    margin: auto;
}

.photoIdentite{
    width: 10%;
}

.formInscription{
    width: 600px;
    border: 1px solid rgb(209, 206, 206);
    padding: 20px;
    border-radius: 2%;
}

/* .coordonneesContent{
    

} */

.presentationContent{
    width: 600px;
    height: 300px;
    
}

.diversContent{
    height: 100px;
}


.carouselContent{
    width: 500px;
}

.listCol{
    margin: 20px;
}

.cardListe{
    padding: 15px;
    width: 475px;
    height: 330px;
}

.photoListe{
    width: 50%;
}
