<form method="post" action="{{ path('profils_delete', {'id': profil.id}) }}" 
        onsubmit="return confirm('Etes-sûr de vouloir supprimer votre profil ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil.id) }}">
    <button class="btn effect01">Supprimer profil</button>
</form>
