{% extends 'base.html.twig' %}

{% block title %}Modification de votre profil{% endblock %}

{% block body %}
    
    <h1 class="titleModifProfil">Modifiez votre profil avant d'enregistrer</h1>

    {{ include('profils/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
