{% extends 'base.html.twig' %}

{% block title %}New Profils{% endblock %}

{% block body %}
    <h1>Create new Profils</h1>

    {{ include('profils/_form.html.twig') }}

    <a href="{{ path('profils_index') }}">back to list</a>
{% endblock %}
